$mainWidth: 800px;
$mainHeight: 320px;

.main {
    position: absolute;
    top: 120px;
    left: 80px;
    width: $mainWidth;
    height: $mainHeight;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.info {
    top: 110px;
    position: absolute;

}

.info p:nth-child(1){
    
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.info p:nth-child(2){
   
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
